service logdump /system_ext/bin/logger
    user root
    group system
    oneshot
    disabled

on init
      setprop logger.init 0

# Unset by init.rc
on post-fs-data && property:logger.init=0
      mkdir /data/debug 0755 root system encryption=None
      setprop logger.log_storage "/data/debug"
      setprop logger.init 1

on property:logger.init=1
      start logdump
